@charset "UTF-8";
/* CSS Document */

body {
  background-color: #F8F3F2;
	 margin-right: 5px;
	margin-left: 5px;
  padding: 50px;
}

h1 {
	text-align: center;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
h2 {
	color: brown
}
button {
  position: fixed; 
  bottom: 20px;
  right: 30px; 
  border: medium; 
  background-color: #A54D4E; 
  color: white; 
  cursor: pointer;
  padding: 10px; 
  border-radius: 20px; 
  font-size: 15px; 
}
p {line-height: 1.5;
	margin-left: 50px;

}
h4 {color: #99618B}